.section {
    flex-direction: column; /* Align header and content vertically */

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header styles */
.section-header {
    text-align: center; /* Center-align the header */
    margin-bottom: 8px; 
    font-size: 50px;
    color:#fff;
    margin-top: 10px;/* Add some space below the header */
}


.section1 {
   
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.604); /* Add box-shadow for glow effect */
  border-radius: 0px 0px 10% 10%;  background-image: url('../assets/back1.jpg'); /* Add your background image URL */
}

.wrapper{
    margin:   auto;
    width: 70%;
}
img{
    max-width: 320px;
    float: left;
    border : 3px solid #fff;
    border-radius: 13px;
    margin-right: 15px;
}
.imgcus{
    max-width: 320px;
    float: right;
    border : 3px solid #fff;
    border-radius: 13px;
    margin-right: 15px;
}

.textbox{

    color: #fff;

}
.textbox h1{
    font-size: 48px;
}

.content {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the content horizontally */
    text-align: left; /* Align content to the left */
    color: #fff;
}
  
  .h12 {
    font-size: 42px; /* Adjust the font size as desired */
  }
  .phome{
    font-size: 20px;
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(192, 3, 3);
    border: 2px solid rgb(205, 11, 4);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(128, 1, 1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #eae6e6;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  
  
  

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .section {
        height: 600px;
    }

    .content {
        text-align: center;
    }

    .button {
        margin: 20px auto;
    }
}

@media only screen and (max-width: 700px) {
    .section1 .content {
        text-align: left;
    }

    .section2 .content {
        text-align: right;
    }

    .section3 .content {
        text-align: left;
    }

    .section .content {
        max-width: 90%;
    }
}
